@font-face {
    font-family: "CroissantOne";
    src: url('CroissantOne-Regular.ttf') format('truetype');
}
h1{
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
    font-family:'CroissantOne';
}
@keyframes black-to-grey {
    from {background:rgb(42, 39, 39);}
    to{background: rgb(143, 141, 141);}
}
body{
    color: rgb(243, 238, 238);
    animation: black-to-grey 5s ease-in-out 0s infinite alternate-reverse none;
}

@keyframes flicker {
    0% {transform: scale(1); filter:drop-shadow(0 0 10px rgb(255, 140, 0));}
    50% {transform: scale(1.1); filter:drop-shadow(0 0 40px rgb(230, 70, 2));}
    100% {transform: scale(1); filter:drop-shadow(0 0 10px rgb(255, 140, 0));}
}
.fire-icon{
    font-size: 120px;
    text-align: center;
    animation: flicker 3s ease-in-out 0s infinite normal none;
}

#streak-display{
    font-size: 100px;
    text-align: center;
}

h2{
    font-size: 30px;
    text-align: center;
}

button{
    text-align: center;
    display: block;
    margin: auto;
    width: 400px;
    height: 80px;
    border-radius: 20px;
    background-color: rgb(127, 56, 242);
    border: 10px double rgb(64, 81, 194);
}

#read{
    font-size: 30px;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
}